@import "tailwindcss";
/* https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-site-background: rgb(236, 239, 243);
  --color-base: #ffffff;
  --color-base-border: rgb(235, 238, 243);
  --color-panel: rgb(246, 248, 250);
  --color-panel-border: #ebeef3;
  --color-element-primary: rgb(13, 13, 18);
  --color-list-container: transparent;
  --color-list-item: white;

  --shadow-basic: 0px 1.2672px 1.2672px 0px rgba(0, 0, 0, 0.08), 0px 5.06879px 10.1376px 0px rgba(0, 0, 0, 0.08);
  --color-base-shadow: rgba(102, 109, 128, 0.08);
}

@layer theme {
  :root, :host {
    /* working without modification */
    @variant dark {
      --color-site-background: rgba(22, 22, 22, 1);
      --color-element-primary: rgb(55, 55, 55);
      --color-panel-border: #2c2c2c;
      --color-panel: rgb(44, 44, 44);
      --color-base: rgb(33, 33, 33);
      --color-base-border: rgb(44, 44, 44);
      --color-base-shadow: rgba(10, 10, 10, 0.2);
      --color-block: rgb(66, 66, 66);
    }
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll;
  box-sizing: border-box;
}
